@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilmer-regular';
  src: url('../public/fonts/Gilmer-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer-Outline';
  src: url('../public/fonts/Gilmer-Outline.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer-bold';
  src: url('../public/fonts/Gilmer-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer-Medium';
  src: url('../public/fonts/Gilmer-Medium.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilmer-Medium';
  src: url('../public/fonts/Gilmer-Medium.otf');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #1d1d1d;
}

.info {
  font-family: 'Gilmer-Bold', sans-serif;
}

.name {
  font-family: 'Gilmer-Outline', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 154px;
}

.heading1 {
  font-family: 'Gilmer-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 77px;
}

.paragraph {
  font-family: 'Gilmer-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
}
